body{
	text-align: center;
	margin: 0 auto;
}
.centro {
	margin:0px auto;
	display: block;
}

table,td,th {
	text-align: center;
	background-color: #f7f9f3;
	width: 1050px;
	border: 1px solid #ccc;
	font-family: 'Varela Round', sans-serif;
}

